/* Estilos para los enlaces de navegación */
.nav-link {
    color: white;
    font-weight: bold;
}

.nav-login {
    color: red;
}

/* Estilos para los botones de encabezado */
.header-btn {
    border-color: red;
    background-color: red;
}

/* Estilos para la barra de navegación de inicio de sesión */
#loginNav {
    background-color: var(--bs-body-color);
    font-family: "Montserrat", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}

.navbar-brand-login {
    font-size: 1.25em;
    color: red;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-decoration: none;
}


#map{
    background-image: url('../assets/img/costarica-map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
}

/* Estilos para el contenedor de mapa */
.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Estilos para el pop-up */
#miPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Estilos para el contenedor del mapa */
#map-navegator {
    width: 100vw;
    height: 92vh;
    background-color: lightblue;
}

/* Estilos para elementos en el mapa */
#coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

#year-select {
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    width: 160px;
    z-index: 1000;
}

#total-cases {
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    color: red;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}
