.nav-link {
    color: white;
    font-weight: bold;
}

.nav-login {
    color: red;
}

.header-btn {
    border-color: red;
    background-color: red;
}

#loginNav {
    background-color: var(--bs-body-color);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}

.navbar-brand-login {
    font-size: 1.25em;
    color: red;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-decoration: none;
}

/* Estilo del pop-up */
#miPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Estilo para el contenedor del mapa */
#map {
    width: 100vw;
    /* Ancho del 100% de la ventana gráfica */
    height: 92vh;
    /* Alto del 100% de la ventana gráfica */
    background-color: lightblue;
}

#coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}

#year-select {
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    width: 160px;
    z-index: 1000;
}

#total-cases {
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    color: red;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}